<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.recharge.common.dao.impl.mapper.MobileInfoMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.recharge.common.entity.MobileInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mobile_prefix" property="mobilePrefix" jdbcType="CHAR" />
    <result column="province_code" property="provinceCode" jdbcType="CHAR" />
    <result column="city_code" property="cityCode" jdbcType="CHAR" />
    <result column="area_code" property="areaCode" jdbcType="CHAR" />
    <result column="province_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="city_name" property="cityName" jdbcType="VARCHAR" />
    <result column="carrier_name" property="carrierName" jdbcType="VARCHAR" />
    <result column="carrier_type" property="carrierType" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mobile_prefix, province_code, city_code, area_code, province_name, city_name, 
    carrier_name, carrier_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.recharge.common.entity.MobileInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mobile_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mobile_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mobile_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.recharge.common.entity.MobileInfoExample" >
    delete from mobile_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.recharge.common.entity.MobileInfo" >
    insert into mobile_info (id, mobile_prefix, province_code, 
      city_code, area_code, province_name, 
      city_name, carrier_name, carrier_type
      )
    values (#{id,jdbcType=BIGINT}, #{mobilePrefix,jdbcType=CHAR}, #{provinceCode,jdbcType=CHAR}, 
      #{cityCode,jdbcType=CHAR}, #{areaCode,jdbcType=CHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{carrierName,jdbcType=VARCHAR}, #{carrierType,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.recharge.common.entity.MobileInfo" >
    insert into mobile_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mobilePrefix != null" >
        mobile_prefix,
      </if>
      <if test="provinceCode != null" >
        province_code,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
      <if test="areaCode != null" >
        area_code,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
      <if test="cityName != null" >
        city_name,
      </if>
      <if test="carrierName != null" >
        carrier_name,
      </if>
      <if test="carrierType != null" >
        carrier_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mobilePrefix != null" >
        #{mobilePrefix,jdbcType=CHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=CHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=CHAR},
      </if>
      <if test="areaCode != null" >
        #{areaCode,jdbcType=CHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="carrierName != null" >
        #{carrierName,jdbcType=VARCHAR},
      </if>
      <if test="carrierType != null" >
        #{carrierType,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.recharge.common.entity.MobileInfoExample" resultType="java.lang.Integer" >
    select count(*) from mobile_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mobile_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mobilePrefix != null" >
        mobile_prefix = #{record.mobilePrefix,jdbcType=CHAR},
      </if>
      <if test="record.provinceCode != null" >
        province_code = #{record.provinceCode,jdbcType=CHAR},
      </if>
      <if test="record.cityCode != null" >
        city_code = #{record.cityCode,jdbcType=CHAR},
      </if>
      <if test="record.areaCode != null" >
        area_code = #{record.areaCode,jdbcType=CHAR},
      </if>
      <if test="record.provinceName != null" >
        province_name = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityName != null" >
        city_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.carrierName != null" >
        carrier_name = #{record.carrierName,jdbcType=VARCHAR},
      </if>
      <if test="record.carrierType != null" >
        carrier_type = #{record.carrierType,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mobile_info
    set id = #{record.id,jdbcType=BIGINT},
      mobile_prefix = #{record.mobilePrefix,jdbcType=CHAR},
      province_code = #{record.provinceCode,jdbcType=CHAR},
      city_code = #{record.cityCode,jdbcType=CHAR},
      area_code = #{record.areaCode,jdbcType=CHAR},
      province_name = #{record.provinceName,jdbcType=VARCHAR},
      city_name = #{record.cityName,jdbcType=VARCHAR},
      carrier_name = #{record.carrierName,jdbcType=VARCHAR},
      carrier_type = #{record.carrierType,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.recharge.common.entity.MobileInfo" >
    update mobile_info
    <set >
      <if test="mobilePrefix != null" >
        mobile_prefix = #{mobilePrefix,jdbcType=CHAR},
      </if>
      <if test="provinceCode != null" >
        province_code = #{provinceCode,jdbcType=CHAR},
      </if>
      <if test="cityCode != null" >
        city_code = #{cityCode,jdbcType=CHAR},
      </if>
      <if test="areaCode != null" >
        area_code = #{areaCode,jdbcType=CHAR},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="carrierName != null" >
        carrier_name = #{carrierName,jdbcType=VARCHAR},
      </if>
      <if test="carrierType != null" >
        carrier_type = #{carrierType,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.recharge.common.entity.MobileInfo" >
    update mobile_info
    set mobile_prefix = #{mobilePrefix,jdbcType=CHAR},
      province_code = #{provinceCode,jdbcType=CHAR},
      city_code = #{cityCode,jdbcType=CHAR},
      area_code = #{areaCode,jdbcType=CHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      carrier_name = #{carrierName,jdbcType=VARCHAR},
      carrier_type = #{carrierType,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>