<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.roncoo.recharge.common.dao.impl.mapper.SupplyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.roncoo.recharge.common.entity.SupplyInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="status_id" property="statusId" jdbcType="TINYINT" />
    <result column="supply_category" property="supplyCategory" jdbcType="TINYINT" />
    <result column="supply_code" property="supplyCode" jdbcType="VARCHAR" />
    <result column="supply_name" property="supplyName" jdbcType="VARCHAR" />
    <result column="compay_name" property="compayName" jdbcType="VARCHAR" />
    <result column="para_request_url" property="paraRequestUrl" jdbcType="VARCHAR" />
    <result column="para_order_url" property="paraOrderUrl" jdbcType="VARCHAR" />
    <result column="para_balance_url" property="paraBalanceUrl" jdbcType="VARCHAR" />
    <result column="para_user_id" property="paraUserId" jdbcType="VARCHAR" />
    <result column="para_key" property="paraKey" jdbcType="VARCHAR" />
    <result column="para_seceret" property="paraSeceret" jdbcType="VARCHAR" />
    <result column="para_ext1" property="paraExt1" jdbcType="VARCHAR" />
    <result column="para_ext2" property="paraExt2" jdbcType="VARCHAR" />
    <result column="para_ext3" property="paraExt3" jdbcType="VARCHAR" />
    <result column="para_ext4" property="paraExt4" jdbcType="VARCHAR" />
    <result column="para_ext5" property="paraExt5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, status_id, supply_category, supply_code, supply_name, 
    compay_name, para_request_url, para_order_url, para_balance_url, para_user_id, para_key, 
    para_seceret, para_ext1, para_ext2, para_ext3, para_ext4, para_ext5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.roncoo.recharge.common.entity.SupplyInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from supply_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from supply_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from supply_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.roncoo.recharge.common.entity.SupplyInfoExample" >
    delete from supply_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.roncoo.recharge.common.entity.SupplyInfo" >
    insert into supply_info (id, gmt_create, gmt_modified, 
      status_id, supply_category, supply_code, 
      supply_name, compay_name, para_request_url, 
      para_order_url, para_balance_url, para_user_id, 
      para_key, para_seceret, para_ext1, 
      para_ext2, para_ext3, para_ext4, 
      para_ext5)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, 
      #{statusId,jdbcType=TINYINT}, #{supplyCategory,jdbcType=TINYINT}, #{supplyCode,jdbcType=VARCHAR}, 
      #{supplyName,jdbcType=VARCHAR}, #{compayName,jdbcType=VARCHAR}, #{paraRequestUrl,jdbcType=VARCHAR}, 
      #{paraOrderUrl,jdbcType=VARCHAR}, #{paraBalanceUrl,jdbcType=VARCHAR}, #{paraUserId,jdbcType=VARCHAR}, 
      #{paraKey,jdbcType=VARCHAR}, #{paraSeceret,jdbcType=VARCHAR}, #{paraExt1,jdbcType=VARCHAR}, 
      #{paraExt2,jdbcType=VARCHAR}, #{paraExt3,jdbcType=VARCHAR}, #{paraExt4,jdbcType=VARCHAR}, 
      #{paraExt5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.roncoo.recharge.common.entity.SupplyInfo" >
    insert into supply_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="statusId != null" >
        status_id,
      </if>
      <if test="supplyCategory != null" >
        supply_category,
      </if>
      <if test="supplyCode != null" >
        supply_code,
      </if>
      <if test="supplyName != null" >
        supply_name,
      </if>
      <if test="compayName != null" >
        compay_name,
      </if>
      <if test="paraRequestUrl != null" >
        para_request_url,
      </if>
      <if test="paraOrderUrl != null" >
        para_order_url,
      </if>
      <if test="paraBalanceUrl != null" >
        para_balance_url,
      </if>
      <if test="paraUserId != null" >
        para_user_id,
      </if>
      <if test="paraKey != null" >
        para_key,
      </if>
      <if test="paraSeceret != null" >
        para_seceret,
      </if>
      <if test="paraExt1 != null" >
        para_ext1,
      </if>
      <if test="paraExt2 != null" >
        para_ext2,
      </if>
      <if test="paraExt3 != null" >
        para_ext3,
      </if>
      <if test="paraExt4 != null" >
        para_ext4,
      </if>
      <if test="paraExt5 != null" >
        para_ext5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        #{statusId,jdbcType=TINYINT},
      </if>
      <if test="supplyCategory != null" >
        #{supplyCategory,jdbcType=TINYINT},
      </if>
      <if test="supplyCode != null" >
        #{supplyCode,jdbcType=VARCHAR},
      </if>
      <if test="supplyName != null" >
        #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="compayName != null" >
        #{compayName,jdbcType=VARCHAR},
      </if>
      <if test="paraRequestUrl != null" >
        #{paraRequestUrl,jdbcType=VARCHAR},
      </if>
      <if test="paraOrderUrl != null" >
        #{paraOrderUrl,jdbcType=VARCHAR},
      </if>
      <if test="paraBalanceUrl != null" >
        #{paraBalanceUrl,jdbcType=VARCHAR},
      </if>
      <if test="paraUserId != null" >
        #{paraUserId,jdbcType=VARCHAR},
      </if>
      <if test="paraKey != null" >
        #{paraKey,jdbcType=VARCHAR},
      </if>
      <if test="paraSeceret != null" >
        #{paraSeceret,jdbcType=VARCHAR},
      </if>
      <if test="paraExt1 != null" >
        #{paraExt1,jdbcType=VARCHAR},
      </if>
      <if test="paraExt2 != null" >
        #{paraExt2,jdbcType=VARCHAR},
      </if>
      <if test="paraExt3 != null" >
        #{paraExt3,jdbcType=VARCHAR},
      </if>
      <if test="paraExt4 != null" >
        #{paraExt4,jdbcType=VARCHAR},
      </if>
      <if test="paraExt5 != null" >
        #{paraExt5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.roncoo.recharge.common.entity.SupplyInfoExample" resultType="java.lang.Integer" >
    select count(*) from supply_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update supply_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gmtCreate != null" >
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null" >
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.statusId != null" >
        status_id = #{record.statusId,jdbcType=TINYINT},
      </if>
      <if test="record.supplyCategory != null" >
        supply_category = #{record.supplyCategory,jdbcType=TINYINT},
      </if>
      <if test="record.supplyCode != null" >
        supply_code = #{record.supplyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.supplyName != null" >
        supply_name = #{record.supplyName,jdbcType=VARCHAR},
      </if>
      <if test="record.compayName != null" >
        compay_name = #{record.compayName,jdbcType=VARCHAR},
      </if>
      <if test="record.paraRequestUrl != null" >
        para_request_url = #{record.paraRequestUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.paraOrderUrl != null" >
        para_order_url = #{record.paraOrderUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.paraBalanceUrl != null" >
        para_balance_url = #{record.paraBalanceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.paraUserId != null" >
        para_user_id = #{record.paraUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.paraKey != null" >
        para_key = #{record.paraKey,jdbcType=VARCHAR},
      </if>
      <if test="record.paraSeceret != null" >
        para_seceret = #{record.paraSeceret,jdbcType=VARCHAR},
      </if>
      <if test="record.paraExt1 != null" >
        para_ext1 = #{record.paraExt1,jdbcType=VARCHAR},
      </if>
      <if test="record.paraExt2 != null" >
        para_ext2 = #{record.paraExt2,jdbcType=VARCHAR},
      </if>
      <if test="record.paraExt3 != null" >
        para_ext3 = #{record.paraExt3,jdbcType=VARCHAR},
      </if>
      <if test="record.paraExt4 != null" >
        para_ext4 = #{record.paraExt4,jdbcType=VARCHAR},
      </if>
      <if test="record.paraExt5 != null" >
        para_ext5 = #{record.paraExt5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update supply_info
    set id = #{record.id,jdbcType=BIGINT},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      status_id = #{record.statusId,jdbcType=TINYINT},
      supply_category = #{record.supplyCategory,jdbcType=TINYINT},
      supply_code = #{record.supplyCode,jdbcType=VARCHAR},
      supply_name = #{record.supplyName,jdbcType=VARCHAR},
      compay_name = #{record.compayName,jdbcType=VARCHAR},
      para_request_url = #{record.paraRequestUrl,jdbcType=VARCHAR},
      para_order_url = #{record.paraOrderUrl,jdbcType=VARCHAR},
      para_balance_url = #{record.paraBalanceUrl,jdbcType=VARCHAR},
      para_user_id = #{record.paraUserId,jdbcType=VARCHAR},
      para_key = #{record.paraKey,jdbcType=VARCHAR},
      para_seceret = #{record.paraSeceret,jdbcType=VARCHAR},
      para_ext1 = #{record.paraExt1,jdbcType=VARCHAR},
      para_ext2 = #{record.paraExt2,jdbcType=VARCHAR},
      para_ext3 = #{record.paraExt3,jdbcType=VARCHAR},
      para_ext4 = #{record.paraExt4,jdbcType=VARCHAR},
      para_ext5 = #{record.paraExt5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.roncoo.recharge.common.entity.SupplyInfo" >
    update supply_info
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="statusId != null" >
        status_id = #{statusId,jdbcType=TINYINT},
      </if>
      <if test="supplyCategory != null" >
        supply_category = #{supplyCategory,jdbcType=TINYINT},
      </if>
      <if test="supplyCode != null" >
        supply_code = #{supplyCode,jdbcType=VARCHAR},
      </if>
      <if test="supplyName != null" >
        supply_name = #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="compayName != null" >
        compay_name = #{compayName,jdbcType=VARCHAR},
      </if>
      <if test="paraRequestUrl != null" >
        para_request_url = #{paraRequestUrl,jdbcType=VARCHAR},
      </if>
      <if test="paraOrderUrl != null" >
        para_order_url = #{paraOrderUrl,jdbcType=VARCHAR},
      </if>
      <if test="paraBalanceUrl != null" >
        para_balance_url = #{paraBalanceUrl,jdbcType=VARCHAR},
      </if>
      <if test="paraUserId != null" >
        para_user_id = #{paraUserId,jdbcType=VARCHAR},
      </if>
      <if test="paraKey != null" >
        para_key = #{paraKey,jdbcType=VARCHAR},
      </if>
      <if test="paraSeceret != null" >
        para_seceret = #{paraSeceret,jdbcType=VARCHAR},
      </if>
      <if test="paraExt1 != null" >
        para_ext1 = #{paraExt1,jdbcType=VARCHAR},
      </if>
      <if test="paraExt2 != null" >
        para_ext2 = #{paraExt2,jdbcType=VARCHAR},
      </if>
      <if test="paraExt3 != null" >
        para_ext3 = #{paraExt3,jdbcType=VARCHAR},
      </if>
      <if test="paraExt4 != null" >
        para_ext4 = #{paraExt4,jdbcType=VARCHAR},
      </if>
      <if test="paraExt5 != null" >
        para_ext5 = #{paraExt5,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.roncoo.recharge.common.entity.SupplyInfo" >
    update supply_info
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      status_id = #{statusId,jdbcType=TINYINT},
      supply_category = #{supplyCategory,jdbcType=TINYINT},
      supply_code = #{supplyCode,jdbcType=VARCHAR},
      supply_name = #{supplyName,jdbcType=VARCHAR},
      compay_name = #{compayName,jdbcType=VARCHAR},
      para_request_url = #{paraRequestUrl,jdbcType=VARCHAR},
      para_order_url = #{paraOrderUrl,jdbcType=VARCHAR},
      para_balance_url = #{paraBalanceUrl,jdbcType=VARCHAR},
      para_user_id = #{paraUserId,jdbcType=VARCHAR},
      para_key = #{paraKey,jdbcType=VARCHAR},
      para_seceret = #{paraSeceret,jdbcType=VARCHAR},
      para_ext1 = #{paraExt1,jdbcType=VARCHAR},
      para_ext2 = #{paraExt2,jdbcType=VARCHAR},
      para_ext3 = #{paraExt3,jdbcType=VARCHAR},
      para_ext4 = #{paraExt4,jdbcType=VARCHAR},
      para_ext5 = #{paraExt5,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>